<div class="container mt-3">

  <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
    <div class="form-group">
      <label for="minAge">Wiek Od</label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="minAge" [(ngModel)]="userParams.minAge"
        name="minAge">
    </div>

    <div class="form-group px-2">
      <label for="maxAge">Do</label>
      <input type="number" class="form-control ml-1" style="width: 70px" [(ngModel)]="userParams.maxAge" id="maxAge"
        name="maxAge">
    </div>

    <div class="form-group px-2">
      <label for="gender">Płeć: </label>
      <select class="form-control ml-1" style="width: 130px" [(ngModel)]="userParams.gender" id="gender" name="gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{gender.display}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:10px">Załaduj filtry</button>
    <button type="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">Resetuj filtry</button>

    <div class="col mt-2 ml-1">
      <div class="btn-group">
        <button type="button" name="orderBy" (click)="loadUsers()" class="btn btn-primary"
          [(ngModel)]="userParams.orderBy" btnRadio="lastActive">Ostatnio Aktywny</button>
        <button type="button" name="orderBy" (click)="loadUsers()" class="btn btn-primary"
          [(ngModel)]="userParams.orderBy" btnRadio="created">Najnowsi Członkowie</button>
        <button type="button" name="orderBy" (click)="loadUsers()" class="btn btn-primary"
          [(ngModel)]="userParams.orderBy" btnRadio="preferences">Moje Preferencje</button>
        <button type="button" name="orderBy" (click)="loadUsers()" class="btn btn-primary"
          [(ngModel)]="userParams.orderBy" btnRadio="appearance">Wygląd</button>
      </div>
    </div>
  </form>
  <br>

  <div class="row">
    <!-- large screen - 2 columns, medium screen - 3columns, small screen - 6columns -->
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]='pagination.itemsPerPage'
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div>
